*{
	padding: 0;
	margin: 0;
}
body{
/*	background: black*/
}
.contenedor
{
	border:2px dotted black;
	margin-top: 15px;
}
.columnas
{
	border:2px dotted cyan;
	margin: 0 auto;
}
#columna1
{
	background-color: #556270;
	color: white;
}
#columna2
{
	background-color: #4ECDC4;
	color: white;
}
#columna3
{
	background-color: #85D612;
	color: white;
}
#columna4
{
	background-color: #FF6B6B;
	color: white;
}
#columna5
{
	background-color: #C44D58;
	color: white;
}
#columna6
{
	background-color: #490A3D;
	color:white;
}
.colores
{
	height: 20px;
	/*width: 20px;*/
	background:white; 
}